#header
{   
    position: fixed;
    height:50px;
    width: 98%;
    background-color: #AFDCEC;
	border :8px dotted;
	border-color: white;
 text-shadow: 2px 2px 4px #00FFFF ;
	    }
	
	

	div
{   border-radius: 5px;}


#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

.c1
{
	
	border :8px dotted;
	border-color: white;
    float: left;
    margin-top: 50px;
    padding-left:5px;
    height: auto;
    width: 98%;
    background-color: #C2DFFF;
    }

    
h2
{
    text-decoration: underline;
	  text-shadow: 2px 2px SKYBLUE;
    }

table
{
    border: 2px groove;
    }
td
{
    padding: 2px;
    border: 1px solid; 
	background-color : ;
    }



#heading
{
    font-weight:bold;
    }